.row {
	display: flex;
	flex-wrap: wrap;
}
.flex {
	display: flex;
}
.text-center {
	text-align: center;
}
.text-gold {
    color: var(--gold);
}
.uppercase {
    text-transform: uppercase;
}
.description {
    font-size: vw(14);
    @include font(vw(14),400,$sans-regular)
}